a.btn {
	text-decoration: none;
}

.btn {
	background: var(--clr-very-dark-blue);
	border-radius: 0.6rem;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.8rem;
	transition: filter 0.2s ease-in-out, transform 0.2s ease-in-out,
		box-shadow 0.2s ease-in-out;

	&:hover {
		box-shadow: 0 5px 20px rgba(#000, 0.2);
		filter: brightness(1.8);
		transform: scale(1.05);
	}
}
